@import '../settings/_fonts.scss';
@import '../settings/_colors.scss';

.ThreeColsContainer {
  width: 1900px;
  height: 384px;
  background-color: #FAD648;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: baseline;
}
.ColumnConstainer{
  width: 334px;
  height: 252px;
  margin-top: 46px;
  margin-bottom: 86px;
  h2{
    font-size: 90px;
    font-family: $font-alt;
    font-weight: 100;
    text-align: center;
  }
  h3{
    font-size: 18px;
    font-family: $font-alt;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    margin: 10px auto 28px auto;
  }
  p{
    font-size: 16px;
    font-family:$font-base;
    text-align: center;
  }
}
