@import '../settings/_fonts.scss';
@import '../settings/_colors.scss';
header{
  width: 1758;
  height: 963px;
  left: 0px;
  top: 0px;
  position: relative;
  background-color: lightblue;
}
.HeroImage{
  width: 1368px;
  height: 963px;
  left: -483px;
  top: 0px;
  position: absolute;
  background-repeat: no-repeat;
}
.TopMenu{
  width: 683px;
  height: 95px;
  top: 37px;
  left: 1075px;
  background-color: green;
  position: absolute;
}
.Intro{
  width: 674px;
  height: 350px;
  top: 342px;
  left: 951px;
  background-color: yellow;
  position: absolute;
}

.LoginRegister{
  font-family: $font-alt;
  text-align: right;
  ul {
    padding: 10px;
    list-style: none;
    }
    li{
      display: inline;
      padding: 9px 10px;
      border: solid 0.75px $logButtonBorder
  }
}
.Navigation{
  text-align: left;
  font-family: $font-alt;
  bottom: 0px;
  ul {
    list-style: none;
    }
    li{
      padding: 15px 22.5px;
      display: inline;
  }
}
